@import 'options';

/*html, body {
	height: 100%;
}*/

body {
	min-width: 320px;
	position: relative;
	color: $c-font;
	font-family: $f-comfortaa;
	font-size: 16px;
	background-color: $c-page-background;
}

.layout-positioner {
	max-width: 980px;
	margin: 0 auto;
	padding: 0 16px;
}

@import 'blocks/article/article';
@import 'blocks/heading/heading';
@import 'blocks/paragraph/paragraph';
@import 'blocks/page-header/page-header';
@import 'blocks/topbar/topbar';
@import 'blocks/logo/logo';
@import 'blocks/navigation/navigation';
@import 'blocks/main-menu/main-menu';
@import 'blocks/slider/slider';
@import 'blocks/login/login';
@import 'blocks/features/features';
@import 'blocks/children-service/children-service';
@import 'blocks/coffee-card/coffee-card';
@import 'blocks/album/album';
@import 'blocks/album-photos/album-photos';
@import 'blocks/photo-slider/photo-slider';
@import 'blocks/food-menu/food-menu';
@import 'blocks/carte/carte';
@import 'blocks/banquet-carte/banquet-carte';
@import 'blocks/price-table/price-table';
@import 'blocks/footer/footer';
@import 'blocks/contacts/contacts';
@import 'blocks/copyright/copyright';

@import 'sprites/sprite-icons';
@import 'sprites/sprite-slider';
@import 'sprites/sprite-adults-menu';
@import 'sprites/sprite-children-menu';

.clearfix:after {
	content: '';
	clear: both;
	display: table;
	zoom: 1;
}