@import '../../options';

.admin-price-table {
	&__caption span,
	&__add,
	&__remove {
		display: inline-block;
	}

	&__add,
	&__remove {
		margin-left: 8px;
	}

	&__add {
		color: $c-green;
		background-color: $c-light-green;
		border: 1px solid $c-green;
	}

	&__remove {
		color: $c-dark-red;
		background-color: $c-light-red;
		border: 1px solid $c-dark-red;
	}

	&__cell {
		position: relative;
	}

	&__change {
		height: 100%;
		width: 100%;
		margin: 0 auto;
		padding: inherit;
		position: absolute;
		top: 0;
		left: 0;
		line-height: 100%;
		text-align: inherit;
		background-color: $c-white;
		border: none !important;
		outline: none !important;
	}

	&_removable {
		.admin-price-table__row {
			cursor: pointer;
			&:hover { background-color: $c-light-red; }
		}
	}
}