@import '../../options';

.album-photos {
	&__item {
		height: 25%;
		min-height: 200px;
		text-align: center;
		overflow: hidden;
		cursor: pointer;

		@media screen and (min-width: $w-tablet) {
			height: 40%;
		}
	}

	&__photo {
		min-height: 100%;
		width: 100%;
	}
}