@import '../../options';

.admin-login {
	width: 90%;
	max-width: 470px;
	padding: 16px;
	margin: 16px auto;
	background-color: $c-white;
	border-radius: 3px;
	outline: 1px solid $c-brown;

	&__error {
		display: block;
		color: $c-dark-red;
	}

	&__input {
		display: block;
		width: 100%;
		margin-top: 8px;
		padding: 14px 16px 14.8px;
		font-size: 16px;
		line-height: 1.2;
		border: 1px solid $c-brown;

		&:focus {
			outline-color: $c-brown;
		}
	}

	&__button {
		display: inline-block;
		max-width: 369px;
		margin-top: 8px;
		padding: 14px 32px 14.8px;
		color: $c-light-gray;
		font-family: $f-comfortaa;
		font-size: 16px;
		line-height: 1.2;
		text-decoration: none;
		background-color: $c-brown;
		border: none;
		outline: none;
		cursor: pointer;
		transition: 0.4s background-color ease;

		&:hover,
		&:active {
			background-color: $c-light-brown;
		}
	}
}