@charset "UTF-8";
/* Цвета */
/* Шрифты */
/* Размеры */
/* Цвета */
/* Шрифты */
/* Размеры */
.admin-action_add, .admin-action_remove {
	display: inline-block;
	height: 32px;
	width: 32px;
	font-family: "Comfortaa", "Arial", "Arial Black", sans-serif;
	font-size: 24px;
	font-weight: bold;
	line-height: 30px;
	text-align: center;
	border-radius: 3px;
	cursor: pointer;
	border: 1px solid transparent;
}

.admin-action_remove {
	color: #710D00;
	background-color: #ffe5e5;
	border-color: #710D00;
}

.admin-action_add {
	color: #105400;
	background-color: #c7f4c8;
	border-color: #105400;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.admin-carte__list {
	position: relative;
}

.admin-carte__list-item {
	position: relative;
	padding-left: 64px;
	cursor: pointer;
}

.admin-carte__list-item:hover {
	background-color: #EEEEEE;
}

.admin-carte__remove, .admin-carte__add {
	position: absolute;
}

.admin-carte__remove {
	margin: auto 0;
	left: 16px;
	top: 0;
	bottom: 0;
}

.admin-carte__add {
	left: 16px;
	top: 8px;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.admin-confirm {
	min-height: 100px;
	width: 80%;
	max-width: 420px;
	margin: auto;
	padding: 16px;
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;
	background-color: #FFFFFF;
	border: 1px solid #241C18;
}

.admin-confirm_visible {
	visibility: visible;
}

.admin-confirm_hidden {
	visibility: hidden;
}

.admin-confirm__container {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 16;
}

.admin-confirm__message {
	margin-bottom: 48px;
	font-family: "Roboto Slab", "Tahoma", serif;
	text-align: center;
}

.admin-confirm__button {
	width: 30%;
	padding: 2%;
	position: absolute;
	bottom: 16px;
	color: #EEEEEE;
	text-align: center;
	background-color: #241C18;
	transition: 0.4s background-color ease;
	cursor: pointer;
}

.admin-confirm__button:hover {
	background-color: #917C72;
}

.admin-confirm__button_ok {
	left: 16px;
}

.admin-confirm__button_cancel {
	right: 16px;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.admin-alert {
	min-height: 100px;
	width: 80%;
	max-width: 420px;
	margin: auto;
	padding: 16px 16px 30px;
	position: fixed;
	top: 60px;
	right: 0;
	left: 0;
	font-family: "Roboto Slab", "Tahoma", serif;
	text-align: center;
	background-color: #FFFFFF;
	border: 1px solid #241C18;
	z-index: 16;
}

.admin-alert_visible {
	visibility: visible;
}

.admin-alert_hidden {
	visibility: hidden;
}

.admin-alert_well {
	color: #105400;
	background-color: #c7f4c8;
	border-color: #105400;
}

.admin-alert_bad {
	color: #710D00;
	background-color: #ffe5e5;
	border-color: #710D00;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.admin-prompt {
	min-height: 100px;
	width: 80%;
	max-width: 420px;
	margin: auto;
	padding: 16px;
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;
	background-color: #FFFFFF;
	border: 1px solid #241C18;
}

.admin-prompt_visible {
	visibility: visible;
}

.admin-prompt_hidden {
	visibility: hidden;
}

.admin-prompt__container {
	height: 100%;
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	z-index: 16;
}

.admin-prompt__message {
	font-family: "Roboto Slab", "Tahoma", serif;
	text-align: center;
}

.admin-prompt__input {
	display: block;
	width: 100%;
	margin: 8px 0 48px;
	padding: 14px 16px 14.8px;
	font-family: "Roboto Slab", "Tahoma", serif;
	font-size: 16px;
	line-height: 1.2;
	border: 1px solid #241C18;
}

.admin-prompt__input:focus {
	outline-color: #241C18;
}

.admin-prompt__button {
	width: 30%;
	padding: 2%;
	position: absolute;
	bottom: 16px;
	color: #EEEEEE;
	text-align: center;
	background-color: #241C18;
	transition: 0.4s background-color ease;
	cursor: pointer;
}

.admin-prompt__button:hover {
	background-color: #917C72;
}

.admin-prompt__button_ok {
	left: 16px;
}

.admin-prompt__button_cancel {
	right: 16px;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.admin-price-table__caption span, .admin-price-table__add, .admin-price-table__remove {
	display: inline-block;
}

.admin-price-table__add, .admin-price-table__remove {
	margin-left: 8px;
}

.admin-price-table__add {
	color: #105400;
	background-color: #c7f4c8;
	border: 1px solid #105400;
}

.admin-price-table__remove {
	color: #710D00;
	background-color: #ffe5e5;
	border: 1px solid #710D00;
}

.admin-price-table__cell {
	position: relative;
}

.admin-price-table__change {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	padding: inherit;
	position: absolute;
	top: 0;
	left: 0;
	line-height: 100%;
	text-align: inherit;
	background-color: #FFFFFF;
	border: none !important;
	outline: none !important;
}

.admin-price-table_removable .admin-price-table__row {
	cursor: pointer;
}

.admin-price-table_removable .admin-price-table__row:hover {
	background-color: #ffe5e5;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.admin-price-category_removable {
	cursor: pointer;
}

.admin-price-category_removable:hover {
	background-color: #ffe5e5;
}

/* Цвета */
/* Шрифты */
/* Размеры */
.animations ul {
	padding: 0;
	list-style-type: none;
}

.animations__animation {
	display: block;
	min-height: 40px;
	margin-bottom: 5px;
	padding-top: 6px;
	padding-left: 40px;
	position: relative;
}

.animations__animation span {
	display: inline-block;
}

.animations__remove {
	position: absolute;
	top: 0;
	left: 0;
}
