@font-face {
	font-family: Comfortaa;
	src: url('../fonts/Comfortaa/Comfortaa-Bold.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Comfortaa/Comfortaa-Bold.woff') format('woff'),
	     url('../fonts/Comfortaa/Comfortaa-Bold.woff2') format('woff2'),
	     url('../fonts/Comfortaa/Comfortaa-Bold.ttf') format('truetype'),
	     url('../fonts/Comfortaa/Comfortaa-Bold.svg#Comfortaa-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Comfortaa;
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot');
	src: url('../fonts/Comfortaa/Comfortaa-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Comfortaa/Comfortaa-Regular.woff') format('woff'),
	     url('../fonts/Comfortaa/Comfortaa-Regular.woff2') format('woff2'),
	     url('../fonts/Comfortaa/Comfortaa-Regular.ttf') format('truetype'),
	     url('../fonts/Comfortaa/Comfortaa-Regular.svg#Comfortaa-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Roboto Slab;
	src: url('../fonts/Roboto Slab/RobotoSlab-Bold.eot');
	src: url('../fonts/Roboto Slab/RobotoSlab-Bold.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Roboto Slab/RobotoSlab-Bold.woff') format('woff'),
	     url('../fonts/Roboto Slab/RobotoSlab-Bold.woff2') format('woff2'),
	     url('../fonts/Roboto Slab/RobotoSlab-Bold.ttf') format('truetype'),
	     url('../fonts/Roboto Slab/RobotoSlab-Bold.svg#RobotoSlab-Bold') format('svg');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: Roboto Slab;
	src: url('../fonts/Roboto Slab/RobotoSlab-Light.eot');
	src: url('../fonts/Roboto Slab/RobotoSlab-Light.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Roboto Slab/RobotoSlab-Light.woff') format('woff'),
	     url('../fonts/Roboto Slab/RobotoSlab-Light.woff2') format('woff2'),
	     url('../fonts/Roboto Slab/RobotoSlab-Light.ttf') format('truetype'),
	     url('../fonts/Roboto Slab/RobotoSlab-Light.svg#RobotoSlab-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: Roboto Slab;
	src: url('../fonts/Roboto Slab/RobotoSlab-Regular.eot');
	src: url('../fonts/Roboto Slab/RobotoSlab-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Roboto Slab/RobotoSlab-Regular.woff') format('woff'),
	     url('../fonts/Roboto Slab/RobotoSlab-Regular.woff2') format('woff2'),
	     url('../fonts/Roboto Slab/RobotoSlab-Regular.ttf') format('truetype'),
	     url('../fonts/Roboto Slab/RobotoSlab-Regular.svg#RobotoSlab-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Sevillana;
	src: url('../fonts/Sevillana/Sevillana-Regular.eot');
	src: url('../fonts/Sevillana/Sevillana-Regular.eot?#iefix') format('embedded-opentype'),
	     url('../fonts/Sevillana/Sevillana-Regular.woff') format('woff'),
	     url('../fonts/Sevillana/Sevillana-Regular.woff2') format('woff2'),
	     url('../fonts/Sevillana/Sevillana-Regular.ttf') format('truetype'),
	     url('../fonts/Sevillana/Sevillana-Regular.svg#Sevillana-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}
