@import '../../options';

.admin-alert {
	min-height: 100px;
	width: 80%;
	max-width: 420px;
	margin: auto;
	padding: 16px 16px 30px;
	position: fixed;
	top: 60px;
	right: 0;
	left: 0;
	font-family: $f-roboto-slab;
	text-align: center;
	background-color: $c-white;
	border: 1px solid $c-brown;
	z-index: 16;

	&_visible {
		visibility: visible;
	}

	&_hidden {
		visibility: hidden;
	}

	&_well {
		color: $c-green;
		background-color: $c-light-green;
		border-color: $c-green;
	}

	&_bad {
		color: $c-dark-red;
		background-color: $c-light-red;
		border-color: $c-dark-red;
	}
}