@import '../../options';

.admin-confirm {
	min-height: 100px;
	width: 80%;
	max-width: 420px;
	margin: auto;
	padding: 16px;
	position: absolute;
	top: 60px;
	right: 0;
	left: 0;
	background-color: $c-white;
	border: 1px solid $c-brown;

	&_visible { visibility: visible; }
	&_hidden { visibility: hidden; }

	&__container {
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.5);
		z-index: 16;
	}

	&__message {
		margin-bottom: 48px;
		font-family: $f-roboto-slab;
		text-align: center;
	}

	&__button {
		width: 30%;
		padding: 2%;
		position: absolute;
		bottom: 16px;
		color: $c-light-gray;
		text-align: center;
		background-color: $c-brown;
		transition: 0.4s background-color ease;
		cursor: pointer;

		&:hover {
			background-color: $c-light-brown;
		}

		&_ok { left: 16px; }
		&_cancel { right: 16px; }
	}
}