@import '../../options';

.food-menu {
	max-width: 393px;
	margin: 0 auto;
	padding: 0;
	list-style-type: none;

	&__item {
		display: block;
		margin-bottom: 16px;
		padding: 0 42px 0 16px;
		color: inherit;
		font-family: $f-comfortaa;
		line-height: 48px;
		text-align: right;
		text-decoration: none;
		background-color: $c-carte-color;
		transition: 0.4s background-color ease-out;
		outline: 1px solid $c-brown;
		box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
		cursor: pointer;

		&:hover { background-color: $c-light-gray; }

		&:focus,
		&_active {
			height: auto;
			outline: none;

			&:after { display: none; }
			& .food-menu__carte { display: block; }
		}
	}

	&__triangle {
		float: right;
		width: 100%;
		position: relative;
		top: -48px;

		&:before {
			content: '';
			position: absolute;
			top: 24px;
			right: -24px;
			border: 5px solid transparent;
			border-top-color: $c-dark-gray;
		}

		&:after {
			top: 0;
			left: 0;
		}
	}

	&__carte {
		display: none;
		margin: -48px -42px 0 -16px;
		z-index: 4;
	}
}

@import 'food-menu-tablet';