@import '../../options';

.food-menu {
	@media screen and (min-width: $w-tablet) {
		float: left;
		width: 100%;
		max-width: 980px;
		margin: 0 -16px;
		padding: 16px 0;
		position: relative;

		&__item {
			width: 40.1 - 4.29 - 1.63%; /* 980px/393px */
			margin: 0;
			max-width: none;
			padding: 0 4.29% 0 1.63%; /* 980px/42px | 980px/16px */
			position: static;
			outline: none;
			border-left: 1px solid $c-brown;
			border-right: 1px solid $c-brown;
			box-shadow: none;

			&:first-child {
				border-top: 1px solid $c-brown;
				border-radius: 4px 4px 0 0;
			}

			&:last-child {
				border-bottom: 1px solid $c-brown;
				border-radius: 0 0 4px 4px;
			}

			&:focus,
			&_active {
				height: 48px;
				background-color: $c-light-gray;

				& .food-menu__carte { display: block; }
			}
		}

		&__triangle:before {
			top: 20px;
			border: 5px solid transparent;
			border-left-color: $c-dark-gray;
		}

		&__carte {
			display: none;
			float: right;
			width: 57.24%; /* 980px/561px */
			position: absolute !important;
			top: 48 + 16px;
			right: 48px;
			box-shadow: 5px 5px 10px 0 rgba(0, 0, 0, 0.2);
		}
	}

	@media screen and (min-width: $w-screen) {
		margin: 0 auto;
	}
}