@import '../../options';

.heading {
	margin: 0;
	padding: 6px 0;
	color: $c-heading-font;
	font-family: $f-comfortaa;
	font-size: 24px;
	font-weight: bold;
	line-height: 1.5;
	text-align: center;
}