@import '../../assets/options.scss';

.navigation {
  float: right;
  height: 12px;
  width: 19px;
  margin-top: 17px;
  position: relative;
  left: -4px;
  border-top: 2px solid $c-gray;
  border-bottom: 2px solid $c-gray;

  &:before {
    content: '';
    height: 2px;
    width: 19px;
    position: absolute;
    top: 5px;
    left: 4px;
    background-color: $c-gray;
    transition: 0.4s left ease-out;
  }

  .menu {
    visibility: hidden;
    position: fixed;
    left: 200%;
  }
}

.active {
  left: 0;
  outline: none;

  &:before {
    left: -4px;
  }

  .menu {
    visibility: visible;
    position: absolute;
    right: -16px;
    left: auto;
  }
}

.navigation {
  @media screen and (min-width: $w-screen) {
    /* reset mobile properties */
    height: auto;
    width: auto;
    margin: auto;
    left: auto;
    border-top: none;
    border-bottom: none;

    &:before { display: none; }

    &:hover,
    &:focus {
      left: auto;

      .menu {
        visibility: visible;
        position: static;
        right: auto;
        left: auto;
      }
    }

    .menu {
      visibility: visible;
      position: static;
      left: auto;
    }
  }
}
