@import '../../options';

.logo {
	float: left;
	margin: 0;
	color: $c-logo-font;
	font-family: 'Sevillana', 'Comic Sans MS', serif;
	font-size: 36px;
	line-height: 50px;

	&__link,
	&__link:visited {
		color: $c-logo-font;
		text-decoration: none;
	}

	@media screen and (min-width: $w-screen) {
		margin-left: 16px;
	}
}