/* Цвета */
$c-page-background: #E4DDDB;
$c-topbar-background: #241C18;
$c-footer-background: #917C72;

$c-font: #333333;
$c-logo-font: #E4DDDB;
$c-heading-font: #241C18;
$c-footer-font: #E4DDDB;

$c-gray: #E4DDDB;
$c-green: #105400;
$c-light-green: #c7f4c8;
$c-light-gray: #EEEEEE;
$c-yellow: #FFB400;
$c-light-yellow: #fbffca;
$c-dark-gray: #777777;
$c-white: #FFFFFF;
$c-brown: #241C18;
$c-dark-red: #710D00;
$c-light-red: #ffe5e5;
$c-light-brown: #917C72;
$c-black: #000000;
$c-blue: #4D6CFF;
$c-carte-color: #FFFFFF;

/* Шрифты */
$f-comfortaa: 'Comfortaa', 'Arial', 'Arial Black', sans-serif;
$f-roboto-slab: 'Roboto Slab', 'Tahoma', serif;

/* Размеры */
$w-mobile-s: 320px;
$w-mobile-m: 375px;
$w-mobile-l: 425px;
$w-tablet: 768px;
$w-screen: 980px;
