@import '../options';

.slider__icon:after {
	content: '';
	height: 30px;
	width: 18px;
	position: absolute;
	background-image: url('../images/sprite-slider.png');
	background-repeat: no-repeat;
}

.slider__icon_arrow_left:after { background-position: -18px 0; }
.slider__icon_arrow_right:after { background-position: -18px -30px; }
.slider__icon_close:after {
	height: 16px;
	width: 16px;
	background-position: -18px -60px;
}