@import '../../options';

.main-menu {
	width: 314px;
	margin: 0;
	padding: 8px 0;
	position: absolute;
	top: 31px;
	list-style-type: none;
	background-color: $c-white;
	border-radius: 3px;
	box-shadow: -5px 5px 10px 0 rgba(0, 0, 0, 0.2);
	z-index: 4;

	&__link {
		display: block;
		height: 48px;
		padding: 0 16px;
		color: $c-font;
		line-height: 48px;
		text-decoration: none;
		cursor: pointer;
		transition: 0.4s background-color ease-out;

		&:active,
		&:hover {
			background-color: $c-light-gray;
		}
	}

	&__icon {
		padding-left: 50px;
		position: relative;

		&:after {
			margin: auto;
			left: 16px;
			top: 0;
			bottom: 0;
		}
	}

	&__submenu {
		margin-left: -40px;
		list-style-type: none;

		&-link {
			padding-left: 66px;
		}
	}
}

.main-menu__submenu-container:before {
	content: '';
	height: 0;
	position: absolute;
	top: 20px;
	right: 25px;
	border: 7px solid transparent;
	border-top-color: #777;
}

.main-menu__submenu-container_active:before {
	top: 15px;
	border: 7px solid transparent;
	border-bottom-color: #777;
}

.main-menu__submenu-container + .main-menu__submenu { display: none; }

.main-menu__submenu-container_active + .main-menu__submenu { display: block; }
.main-menu__submenu-container:focus + .main-menu__submenu {
	@media screen and (min-width: $w-screen) {
		display: block;
	}
}


@import 'main-menu-desktop';